**/.vscode/*
**/.vs/*

**.csproj
**.unityproj
**.sln
**.slnx

**/[Ll]ibrary/*
**/[Tt]emp/*
**/[Oo]bj/*
**/[Bb]uild/*
**/[Bb]uilds/*
**/[Ll]ogs/*
**/[Uu]ser[Ss]ettings/*
**.log

**.ilk
**.ppm
**.exe
**.lib
**.dll
**.pdb

**/out/*
**/ship/*
